@import url('<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">)
body {
  font-family: 'Quicksand', sans-serif;
  background-image: url('https://github.com/amnahk10/jiansbirthday/blob/master/779ecb.png?raw=true')
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
  }
  h1{
    font-style: italic; 
    font-size: 50px; 
    color: #000000
    border: 5px double black;
    }
    
  h1{
    font-style: italic; 
    font-size: 50px;
    color: #000000; 
    animation-name: h1anim;
  animation-duration: 4s; 
  animation-iteration-count: infinite; 
}

@keyframes h1anim {
  0% {color: black;}
  50% {color: #41738A;}
  100% {color: black;}


}


.navigation {
  overflow: hidden;
  background-color: #000000
}
 
.navigation a { 
  float: left; 
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.navigation a:hover {
  background-color: #BCB6B6;
  color: #F15353
}

.navigation a.active {
  background-color: #FFFFF
}
